body {
    --main-color: violet;
    .main-nav {
        a {
            color: red;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            >li {
                font-size: $main-font-size;
                a {
                    text-decoration: none;
                    color: var(--main-color);
                }
            }
        }
    }
}